.scroll-up {
  display: none;
  outline: 3px solid var(--button-green);
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0;
  z-index: 100;
}

@media (max-width:425px) {
  .scroll-up {
    right: 30px;
    bottom: 30px
  }
}

.scroll-up_visible {
  display: block;
}

.scroll-up_visible span {
  width: 25px;
  height: 5px;
  background: #039BE5;
  position: absolute;
  top: 42%;
}

.scroll-up_visible span:first-child {
  transform: rotate(-45deg);
  left: 5px;
}

.scroll-up_visible span:last-child {
  transform: rotate(45deg);
  right: 5px;
}