.youtube-channel {
  margin-top: 130px;
}

.youtube-channel__description {
  margin-top: 50px;
  font-weight: 500;
}

.youtube-channel__slider {
  position: relative;
  margin-top: 50px;
}

.youtube-channel__slider .slick-list {
  margin: 0 70px;
}

@media(max-width: 600px) {
  .youtube-channel__slider .slick-arrow-button {
    top: 110%;
    width: 32px;
    height: 32px;
  }
  .youtube-channel__slider .prev-arrow-button {
    left: 35%;
  }
  .youtube-channel__slider .next-arrow-button {
    right: 35%;
  }
  .youtube-channel__slider .slick-list {
    margin: 0;
  }
}

.youtube-channel__video {
  height: 300px;
}

@media(max-width: 600px) {
  .youtube-channel__video {
    height: 230px;
  }
}

.youtube-channel__video>div {
  margin: 0 15px;
}

.youtube-channel__video iframe {
  border-radius: 20px;
}

.youtube-channel__link {
  background-color: var(--button-green);
  margin: 50px auto 0;
}
.youtube-channel__link:hover {
  background-color: var(--button-green-hover);
}
.youtube-channel__link:active {
  background-color: var(--button-green-active);
}

@media(max-width: 600px) {
  .youtube-channel__link {
    margin-top: 100px;
  }
}